mat-card
{
    width: 60%;
    background-color:white;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px;
    align-self: center;
	color: black;
}
.title {
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    background-color: white;
  }
.back-btn {
    background-color:white;
    color: black;
}
